src/META-INF/wsdl/localhost_8080/WebSoapBA/ReleaseOrderService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="getAllReleasedOrder" type="tns:getAllReleasedOrder"/>

<xs:element name="getAllReleasedOrderResponse" type="tns:getAllReleasedOrderResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="getAllReleasedOrder">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllReleasedOrderResponse">
<xs:sequence>
<xs:element name="return" type="tns:releaseOrder" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="releaseOrder">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="idCustomer" type="xs:string" minOccurs="0"/>
<xs:element name="idInvoice" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:string" minOccurs="0"/>
<xs:element name="idSell" type="xs:string" minOccurs="0"/>
<xs:element name="idState" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>